---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
IndentWidth: 2
AlignTrailingComments: true

---
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
---
Language: JavaScript
# Use 120 columns for JS.
ColumnLimit: 120
---
Language: Proto
# Don't format .proto files.
DisableFormat: true
---
Language: CSharp
# Use 120 columns for C#.
ColumnLimit: 120
...
